<h1 class="center">Title <%= @pin.title %></h1>
<div class="form">
	<% if logged_in? %>
		<p>Created by: <%= @pin.users.pluck(:username) %></p>
	<% end %>
	<p>Description: <%= @pin.text %></p>
	<p>URL: 
		<a href="<%= "#{@pin.url}" %>" target="_blank">
			<%= "#{@pin.url}" %>
		</a>
	</p>
	<img src="<%= @pin.avatar.url(:medium) %>">
	<%= link_to repin_path(@pin), class: 'btn btn-default', method: 'post' do %>
		Repin!
	<% end %>
	<% if @pin.users == current_user %>
		<p><%= link_to 'Delete this pin', pin_path(@pin), method: :delete, data: {confirm: "Are you sure you want to delete this pin?"} %></p>
	<% end %>
	<p><%= link_to 'Back to pins list', pins_path %></p>
</div>






