<div class="container">
	<div class="row display-flex">
		<% @pins.each do |pin| %>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="row row-style">
					<div class="logo-thumbnail col-xs-offset-2 col-xs-3 col-sm-offset-1 col-sm-3">
						<% if "#{pin.category_id}" == "2" %>
						    <%= image_tag('rails-logo-thumbnail.png') %>
						<% elsif "#{pin.category_id}" == "1" %>
						    <%= image_tag('ruby-logo-thumbnail.png') %>
						<% end %>
					</div>
					<div class="pin-info col-xs-7 col-sm-8">
						<ul>
							<li><%= pin.title %></li>
							<li><%= 'Profile pic' %></li>
							<li><%= pin.url %></li>
							<li><%= link_to 'View', pin_path(pin) %> 
							<% if logged_in? && current_user == pin.user %>
								<%= link_to 'Edit', edit_pin_path(pin) %> <%= link_to 'Delete', pin_path(pin), method: :delete, data: {confirm: "Are you sure you want to delete this pin?"} %></li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>