<p id="notice"><%= notice %></p>

<div class="center header">
  <h1><strong>My Boards</strong></h1>
  <p><%= link_to 'Make a new board', new_board_path %> | <%= link_to 'Back to all boards', boards_path %></p>
</div>

<div class="col-md-8 col-md-offset-2">
  <table class="table">
   
    <thead>
      <tr>
        <th class="no-border">Name</th>
        <th class="no-border">User</th>
      </tr>
    </thead>
   
    <tbody>
      <% @boards.each do |board| %>
        <tr>
          <td><%= board.name %></td>
          <td><%= board.user.username %></td>
          <% if logged_in? && current_user == board.user %>
            <td class="link"><%= link_to 'Show', board %></td>
            <td class="link"><%= link_to 'Edit', edit_board_path(board) %></td>
            <td class="link"><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Board', new_board_path %>

</div>