<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <%= link_to 'PSA', root_path, class: "navbar-brand" %>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><%= link_to 'Pins', pins_path %></li>
        <% if logged_in? %>
          <li><%= link_to 'Create Pin', new_pin_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Boards <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% current_user.boards.each do |board| %>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="PUT LINK TO BOARD HERE">
                    <%= board.name %>
                  </a>
                </li>
              <% end %>
              <li role="presentation" class="divider"></li>
              <li role="presentation">
                <%= link_to "Add a Board", new_board_path, "role" => "menuitem", "tabindex" => "-1" %>
              </li>    
              <li role="presentation">
                <%= link_to "My boards", my_boards_path, "role" => "menuitem", "tabindex" => "-1" %>
              </li>   
            </ul>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to 'Logout', logout_path, method: :delete %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'View Profile', user_path(current_user) %></li>
              <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Login', login_path %></li>
          <li><%= link_to 'Sign up', signup_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>